h1.a {

    color:rgb(53, 11, 53);
    text-align: center;
}

body {
    background-color: rgb(218, 204, 231);
}

div.head {

    margin: 2px;
    color: rgb(183, 138, 224);
    height: 12cm;
}

h3.a {

    color:rgb(53, 11, 53);
    text-align: center;
}
body{
    font-family: cali;
    }
