<!DOCTYPE html>
{% extends "ticketsale/layout.html" %}
{% block titlepage %} 
ورود کاربران
{% endblock%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% extends "ticketsale/layout.html" %}

{% block titlepage %} 
ورود کاربران
{% endblock%}

{% block mainContent %} 
<div class="col-md-3"></div>
<div class="col-md-6">
<form action="" method="post" class="form">
<3h,>اطالعات کاربری خود را وارد نمایید<3h/>
</label>کاربری نام> label class="label-cotrol">
" class="form-control">نمایید وارد را خود کاربری نام> input type="text" id="username" name="username" placeholder="
</label>عبور رمز> label class="label-cotrol">
" class="form-control">نمایید وارد را خود عبور رمز> input type="password" id="password" name="username" placeholder="
" class="btn btn-success">ورود> input type="submit" value="
</form>
</div>
<div class="col-md-3"></div>
{% endblock %}

    
</body>
</html>